body {
  background-color: #f2f2f2;
  height: 100%;
  font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans,
    Garuda, Verdana, Tahoma, sans-serif;
  font-weight: 100;
  box-sizing: border-box;
}
*,
p {
  margin: 0;
  padding: 0;
}

.ctn-main {
  max-width: 1240px;
  margin: 0 auto;
  background-color: white;
  height: 100%;
  padding-top: 1px;
}

.title {
  margin: 20px auto;
  text-align: center;
  font-size: 24px;
}

.song-body {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 35px;
  padding-top: 0px;
}

.song-img {
  width: 180px;
  background-size: cover;
  height: 180px;
  
  margin: 0;
  margin: 30px 26px 5px 26px;
  border: 1px solid #aaa;
  transition: 0.3s;
}

.song-img:hover ~ .song-info {
  transform: rotate(5deg);
}

.song-img:hover ~ .play {
  transform: rotate(45deg);
}

.song-img:hover {
  transform: rotate(5deg);
}

.song-info {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: normal;
  width: 180px;
  margin-left: 27px;
  transition: 0.3s;
}

.form-search {
  margin: 45px 187px;
  display: flex;
  align-items: center;
}

.form-search > form {
  margin-right: 25px;
  display: flex;
}

.search-icon {
  background-image: #eee;
  border: none;
  padding-right: 15px;
  font-size: 16px;
  color: #999;
}

.btn-upload {
  margin-left: 25px;
}

.form-search > form > input {
  width: 600px;
  height: 45px;
  border: none;
  background-color: #eee;
  padding: 15px;
  border-radius: 3px;
}

.form-search > form > input:focus {
  outline: none;
}

.btn {
  background-color: #fe9132;
  border: none;
  color: #fff;
  border-radius: 3px;
  height: 45px;
  width: 170px;
  padding: 13px 23px;
  font-size: 16px;
  line-height: 18px;
  cursor: pointer;
}

.song {
  position: relative;
  border: none;
  background: none;
}



.btn-outline {
  border: 1.5px solid #fff;
  color: #fff;
  border-radius: 3px;
  height: 45px;
  width: 170px;
  padding: 13px 23px;
  font-size: 16px;
  line-height: 18px;
  cursor: pointer;
  background: none;
}

.nav-btn-75 {
  height: 30px;
  /* pading */
  padding: 0;
  width: 75px;
  font-size: 14px;
}

.nav-btn-115 {
  height: 30px;
  padding: 0;
  width: 115px;
  font-size: 14px;
}

.btn:hover {
}

.header {
  color: #fff;
  height: 450px;
  width: 100%;
  background-image: url("./static/img/panel.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.navbar {
  display: flex;
  justify-content: space-between;
  height: 70px;
  align-items: center;
  margin: 10px;
  margin-top: 1px;
}

.nav-title {
  font-size: 20px;
  font-weight: bold;
}

.panel {
  text-align: center;
  margin-top: 80px;
}

.panel > h2 {
  font-size: 36px;
  margin-bottom: 30px;
}

.panel > button {
  margin-top: 15px;
}

.pagination {
  display: flex;
  justify-content: center;
}

.btn-page {
  background-color: #fe9132;
  border: none;
  color: #fff;
  border-radius: 3px;
  height: 45px;
  width: 170px;
  margin: 10px;
  padding: 13px 23px;
  font-size: 16px;
  line-height: 18px;
  cursor: pointer;
}

.play {
  font-size: 40px;
  color: #fff;
  position: absolute;
  top: 40%;
  right: 41%;
  z-index: 1;
  opacity: 0;
  transition: 0.3s;
  display: none;
  pointer-events: none;

}

.player {
  height: 50px;
  width: 100%;
  position: fixed;
  bottom: 0;
  border-top: 1px solid #ccc;
  background-color: #fff;
  display: flex;
  justify-content: center;
  background-color: #eee;
  align-items: center;
}

.player > audio {
  background: none;
  width: 800px;
  height: 90%;
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-panel {
  background-color: #eee;
  color: #000;
}

.player-info {
  margin-left: 10px;
  font-size: 12px;
  line-height: 16px;
}

.player-img {
  background-image: url("https://i1.sndcdn.com/artworks-voe0CibrOPXN3rnt-2xSpZA-t200x200.jpg");
  height: 30px;
  width: 30px;
  background-size: cover;
}

.hvr-bounce-to-top {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-to-top:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fe9132;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-bounce-to-top:hover,
.hvr-bounce-to-top:focus,
.hvr-bounce-to-top:active {
  color: white;
}
.hvr-bounce-to-top:hover:before,
.hvr-bounce-to-top:focus:before,
.hvr-bounce-to-top:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

@-webkit-keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
.hvr-pulse-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-pulse-grow:hover,
.hvr-pulse-grow:focus,
.hvr-pulse-grow:active {
  -webkit-animation-name: hvr-pulse-grow;
  animation-name: hvr-pulse-grow;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

.btn > a {
  text-decoration: none;
  color: #fff;
}