label {
  display: block;
}

body {
  box-sizing: border-box;
}

.ctn-main {
  height: 100%;
}

.ctn-info {
  border: 1px solid #f2f2f2;
  width: 800px;
  margin: 0 auto;
  height: 700px;
  box-shadow: 0 2px 12px -5px rgb(0 0 0 / 10%);
  display: flex;
  padding: 30px;
}

.main-title {
  text-align: center;
  color: #fd913a;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.left {
  width: 300px;
}

.right {
  width: 500px;
  position: relative;
}

.right > input[type="text"] {
  width: 98%;
  height: 15px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.right > select {
  width: 300px;
}

.photo {
  width: 260px;
  height: 260px;
  border: 1px solid #ccc;
}

.left > input[type="file"] {
  box-sizing: border-box;
  width: 260px;
  margin: 0;
  padding: 5px;
  bottom: 5px;
}

.upload-photo {
  cursor: pointer;
  position: absolute;
  bottom: 20%;
  right: 20%;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 5px;
  background-color: transparent;
}

.genre {
  width: 200px;
  height: 27px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: transparent;
}
.custom-genre {
  width: 200px;
  height: 15px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.description {
  resize: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: transparent;
  width: 500px;
  padding: 5px;
}

.right > div > input[type="radio"] {
  margin: 10px;
}

.footer {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.btn {
  height: 30px;
  width: 60px;
  border-radius: 3px;
  cursor: pointer;
}

.btn-save {
  background-color: #fd913a;
  border: none;
  color: white;
}

.btn-cancel {
  border: 1px solid #ccc;
  background-color: transparent;
}
